/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.field-name-field-code-example{
	background:#333;
	color:#fff;
	padding:5px;
}

.region-sidebar-first{
	position:fixed;
}

.container{
	margin-right:0;
}

.navbar.container {
	max-width: inherit;
	width: 100%;
}

.col-sm-9{
}

.group-footer{
	padding-top: 25px;
	border-bottom: 1px #ccc solid;
}

