/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.field-name-field-code-example{
	background:#333;
	color:#fff;
	padding:5px;
}

.region-sidebar-first{
	position:fixed;
	width:20%;
}

.col-sm-6 {
padding-right: 0;
}

.main-container{
	margin-right:0;
	margin-left:0;
	padding-right: 0;
	width:auto;
}

.navbar.container {
	max-width: inherit;
	width: 100%;
}
.docs-nav .nav li a{
	padding:5px;
	font-size:15px;
}

.col-sm-9{
}

.group-footer{
	padding-top: 25px;
	border-bottom: 1px #ccc solid;
}

code{
	background:#000;
	white-space: pre-wrap;
}
